apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  namespace: tools
spec:
  replicas: 2
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      containers:
        - name: jenkins
          image: docker.io/jenkins/jenkins:2.528.1-lts
          imagePullPolicy: IfNotPresent
          securityContext:
            privileged: true
            runAsUser: 0
          resources:
            requests:
              cpu: "500m"
              memory: "500Mi"
            limits:
              cpu: "1000m"
              memory: "2000Mi"
          ports:
            - name: http
              containerPort: 8080
            - name: jnlp
              containerPort: 50000
          env:
            - name: TZ
              value: "America/Fortaleza"
          livenessProbe:
            httpGet:
              path: "/login"
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: "/login"
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          volumeMounts:
            - mountPath: /var/jenkins_home
              name: jenkins-data
              subPath: jenkins
      volumes:
        - name: jenkins-data
          persistentVolumeClaim:
              claimName: jenkins-data
